
header, section {
    font-family: "Montserrat", sans-serif;
    font-weight: 100px;
    text-align: center;
}

a {
    background-color: rgb(61, 61, 68);
    height: 35px;
    width: 150px;
    color: aliceblue;
    border: 10px;
    margin-left: 20px;
    font-weight: 250px;
}
